<div class="container" [scrollTop]="scrollTop">

  <div class="page-container">
    <div class="page-content-wrapper">
      <div class="content sm-gutter">
        <div class="container-fluid container-fixed-lg p-l-0 p-r-0">
          <div class="inner">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active">Course Detail</li>
            </ol>
          </div>
        </div>
        <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="card card-default">
                <div class="card-block course-detail-banner bg-img-1">
                  <div class="banner-overlay"></div>
                  <h2>{{courseDetails['course_title']}}</h2>
                  <!-- <p>The PMP certification is the global standard for project management</p> -->
                </div>
              </div>
              <div class="card card-default">
                <div class="row">
                  <div class="col-12">
                    <ul class="nav nav-tabs nav-tabs-simple" role="tablist">
                      <li class="nav-item">
                        <a href="#youGet" target="_self" class="active bold js-scroll-trigger">
                          <h5 class="semi-bold">You Get</h5>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#schedules" target="_self" class="bold js-scroll-trigger">
                          <h5 class="semi-bold">Schedules</h5>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#description" class="bold js-scroll-trigger">
                          <h5 class="semi-bold">Course Description</h5>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card card-default">
                <div class="card-header separator">
                  <div class="card-title">
                    <h5 class="m-b-0 m-t-0">
                      <span class="bold">Mode of Learning</span>
                    </h5>
                  </div>
                </div>
                <div class="card-block">
                  <div class="row">
                    <div class="col-md-3 col-sm-12 col-lg-3">
                      <div class="card card-default">
                        <div class="card-block text-center">
                          <h6>
                            <span class="semi-bold">Classroom Training</span>
                          </h6>
                          <img src="../assets/main/img/icons/virtiledge-icon-60x60-1.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <a href="javascript:;" class="btn btn-default btn-block text-primary semi-bold m-t-20" routerLink="/events">View Schedules/Price
                            <i class="fa fa-angle-double-right m-l-5"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-lg-3">
                      <div class="card card-default">
                        <div class="card-block text-center">
                          <h6>
                            <span class="semi-bold">Instructor Lead Live Training</span>
                          </h6>
                          <img src="../assets/main/img/icons/virtiledge-icon-60x60-3.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <a href="javascript:;" class="btn btn-default text-primary semi-bold btn-block m-t-20" routerLink="/events">View Schedules/Price
                            <i class="fa fa-angle-double-right m-l-5"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-lg-3">
                      <div class="card card-default">
                        <div class="card-block text-center">
                          <h6>
                            <span class="semi-bold">E-Learning</span>
                          </h6>
                          <img src="../assets/main/img/icons/virtiledge-icon-60x60-2.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <a href="javascript:;" class="btn btn-default text-primary semi-bold btn-block m-t-20" routerLink="/events">Enroll Now
                            <i class="fa fa-angle-double-right m-l-5"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-lg-3">
                        <div class="card card-default">
                          <div class="card-block text-center">
                            <h6>
                              <span class="semi-bold">Course Brochure</span>
                            </h6>
                            <img src="../assets/main/img/icons/virtiledge-icon-60x60-20.png" class="figure-img img-fluid rounded p-t-10" alt="">
                            <a href="javascript:;" data-toggle="modal" data-target="#brochure" class="btn btn-primary semi-bold btn-block m-t-20">
                                <i class="fa fa-cloud-download m-r-5"></i>Download</a>
                          </div>
                        </div>
                      </div>
                    <div class="col-12">
                      <div class="card card-default">
                        <div class="card-block text-center">
                          <h5>
                            <span class="semi-bold">Corporate Training Solutions</span>
                          </h5>
                          <p>Virtiledge’s corporate training solutions is custom designed to help professionals keep ahead in
                            fast growing business atmospheres.
                          </p>
                          <a href="#corporate-training" class="btn btn-primary m-t-20">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-default" id="schedules">
                <div class="card-header separator">
                  <div class="card-title">
                    <h5 class="m-b-0 m-t-0">
                      <span class="bold">Upcoming Training Schedule</span>
                    </h5>
                  </div>
                </div>
                <div class="card-block">

                  <div class="table-responsive">
                    <table class="table" id="tableWithSearch">
                      <thead>
                        <tr>
                          <th>Course</th>
                          <th>Course Type</th>
                          <th>Workshop Date</th>
                          <th>Price</th>
                          <th>Register</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let event of eventDetails">
                          <td class="v-align-middle">
                            <p>{{event.course_title}}</p>
                          </td>
                          <td class="v-align-middle">
                            <p>{{event.event_type}}</p>
                          </td>
                          <td class="v-align-middle">
                            <p style="color: green">{{event.event_from_date | date:'dd MMM yyyy'}}
                          </td>
                          <td class="v-align-middle">

                            <p class="bold">{{event.event_price_type}} {{event.event_price}}</p>
                          </td>
                          <td class="v-align-middle">
                            <a href="javascript:;" class="btn btn-primary btn-sm">Enroll Now</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card card-default" id="youGet">
                <div class="card-header separator">
                  <div class="card-title">
                    <h5 class="m-b-0 m-t-0">
                      <span class="bold">You Get</span>
                    </h5>
                  </div>
                </div>
                <div class="card-block">
                  <div [innerHTML]="courseDetails.course_key_features"></div>
                </div>
              </div>
              <div class="card card-default" id="description">
                <div class="card-header separator">
                  <div class="card-title">
                    <h5 class="m-b-0 m-t-0">
                      <span class="bold">Description</span>

                    </h5>
                  </div>
                </div>
                <div class="card-block">
                  <ul class="nav nav-tabs nav-tabs-simple" role="tablist" data-init-reponsive-tabs="dropdownfx">
                    <li class="nav-item">
                      <a class="active" data-toggle="tab" role="tab" data-target="#desc" href="#"><h6 class="semi-bold">Description</h6></a>
                    </li>
                    <li class="nav-item">
                      <a class="" data-toggle="tab" role="tab" data-target="#curriculam" href="#"><h6 class="semi-bold">Curriculam</h6></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="tab" role="tab" data-target="#examCertification"><h6 class="semi-bold">Exam & Certification</h6></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="tab" role="tab" data-target="#eligibility"><h6 class="semi-bold">Eligibility</h6></a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="tab" role="tab" data-target="#faqs"><h6 class="semi-bold">FAQs</h6></a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane slide-left active" id="desc">
                      <div [innerHTML]="courseDetails.course_description"></div>
                    </div>
                    <div class="tab-pane slide-left" id="curriculam">
                      <div [innerHTML]="courseDetails.course_curriculum"></div>
                    </div>
                    <div class="tab-pane slide-left" id="examCertification">
                      <div [innerHTML]="courseDetails.course_certification"></div>
                    </div>
                    <div class="tab-pane slide-left" id="eligibility">
                      <div [innerHTML]="courseDetails.course_eligibilitycreteria"></div>
                    </div>
                    <div class="tab-pane slide-left" id="faqs">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="card-group horizontal m-t-30" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="card card-default m-b-0" *ngFor="let faq of faqDetails; let i= index">
                              <div class="card-header " role="tab" id="headingOne">

                                <a class="bold color-blue">
                                  {{faq.faq_question}}
                                </a>
                                <br> {{faq.faq_answer}}

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>