/*Custom CSS*/

/*Footer CSS starts here*/
.footer {
	/* left:0 !important; */
	background-color:#ffffff;
	border-top: 1px solid rgba(0,0,0,.125);
	margin: 0px 0 0px;
	padding:8px 20px;
}
.custom-footer-list li {
    list-style-type: none;
}

ul.custom-footer-list>li {
    /* font-size: 21px; */
}

.custom-footer-list>li {
	padding-left: 3px;
    line-height: 24px;
}

.custom-footer-list li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #646464;
    margin-bottom: 5px;
    display: inline-block;
}

.custom-footer-list h6{
	font-weight:600;
}

/*Footer CSS ends here*/

/* Section css starts here*/


.banner-section {
	padding:40px 0 40px 0;
	background-image: url(../../main/img/social/cover.jpg);
    transform: translateY(0px);
	width: 100%;
    height: 500px;
    overflow: hidden;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background-size: cover;
}

.menu-section {
	padding:0px 0 0px 0;
	background-color: #007be8;
}
.menu-section  td{
	background-color: transparent !important;
	text-align:center;
	padding:17px !important;
	border-right:1px solid rgba(255,255,255,0.45);
	border-bottom: 0px solid rgba(234, 236, 238, 0.10) !important;
}

.menu-section  td:last-child{
	border-right:0px solid rgba(255,255,255,0.45);
}

.menu-section-heading td a {
	color:rgba(255,255,255,0.90);
	font-size:16px;
	font-weight:700;
	margin-bottom:20px;
}

.menu-section-heading {
	margin:10px 0;
}

.menu-section-heading td a:hover {
	color:rgb(255,255,255);
}

.feature-section {
	padding:40px 0 40px 0;
	background-color: #ffffff;
}

.feature-section-heading h2 {
	color:#333333;
	font-weight:600;
	margin-bottom:20px;
}

.feature-section-heading h2:after {
	content: '.';
  display: block;
  height: 1px;
  width: 90px;
  margin: 8px auto;
  text-indent: -9999px;
  border-top: 3px solid #8b53a2;
}

.learning-mode-section {
	padding:40px 0 40px 0;
	background-color: #f4f4f4;
}
/* .learning-mode-section p { */
    /* width: 100%; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
/* } */
.learning-mode-section-heading h2 {
	color:#333333;
	font-weight:600;
	margin-bottom:20px;
}

.learning-mode-section h4 {
	color:#333333;
}

.learning-mode-section-heading h2:after {
	content: '.';
  display: block;
  height: 1px;
  width: 90px;
  margin: 8px auto;
  text-indent: -9999px;
  border-top: 3px solid #8b53a2;
}

.instructor-section {
	padding:40px 0 40px 0;
}

.instructor-section-heading h2 {
	color:#ffffff;
	font-weight:600;
	margin-bottom:20px;
}

.instructor-section h1, .instructor-section h4, .instructor-section p {
	color:#ffffff;
}

.instructor-section-heading h2:after {
	content: '.';
  display: block;
  height: 1px;
  width: 90px;
  margin: 8px auto;
  text-indent: -9999px;
  border-top: 3px solid #ffffff;
}

.testimonials-section {
	padding:40px 0 40px 0;
	background-color: #ffffff;
}

.testimonials-section-heading h2 {
	color:#333333;
	font-weight:600;
	margin-bottom:20px;
}

.testimonials-section p {
	color:#333333;
}

.testimonials-section-heading h2:after {
	content: '.';
  display: block;
  height: 1px;
  width: 90px;
  margin: 8px auto;
  text-indent: -9999px;
  border-top: 3px solid #8b53a2;
}


.course-offered-section {
	padding:40px 0 40px 0;
	background-color: #ffffff;
}

.course-offered-section-heading h2 {
	color:#333333;
	font-weight:600;
	margin-bottom:20px;
}

.course-offered-section-heading h2:after {
	content: '.';
  display: block;
  height: 1px;
  width: 90px;
  margin: 8px auto;
  text-indent: -9999px;
  border-top: 3px solid #8b53a2;
}

.course-offered-section h4, p{
	color:#333333;
}

.corporate-training-section {
	padding:40px 0 40px 0;
	background-color: #f4f4f4;
}

.corporate-training-section-heading h2 {
	color:#333333;
	font-weight:600;
	margin-bottom:20px;
}

.corporate-training-section p{
	color:#333333;
}

.corporate-training-section-heading h2:after {
	content: '.';
  display: block;
  height: 1px;
  width: 90px;
  margin: 8px auto;
  text-indent: -9999px;
  border-top: 3px solid #8b53a2;
}

/* Section css ends here*/

/* Custom font size starts here */

.f-s-12 {
	font-size:12px !important;
}

/* Custom font size ends here */

/* Custom colors starts here */
.color-white {
	color:#FFFFFF !important;
}

.color-blue {
	color:#007be8 !important;
}

.color-facebook {
	color:#4867AA;
}

.color-google-plus {
	color:#D44330;
}

.color-twitter {
	color:#1DA1F2;
}

.color-linkedin {
	color:#007BB6;
}

.color-youtube {
	color:#FF0000;
}

.btn-facebook {
    color: #fff;
    background-color: #4867AA;
    border-color: #4867AA;
}
.btn-facebook:hover {
    opacity:0.8;
	color:#fff;
	background-color: #4867AA;
    border-color: #4867AA;
}
.btn-google-plus {
    color: #fff;
    background-color: #D44330;
    border-color: #D44330;
}
.btn-google-plus:hover {
	opacity:0.8;
    color: #fff;
    background-color: #D44330;
    border-color: #D44330;
}
.btn-twitter {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}
.btn-twitter:hover {
	opacity:0.8;
    color: #fff;
    background-color: #1DA1F2;
    border-color: #1DA1F2;
}
.btn-linkedin {
    color: #fff;
    background-color: #007BB6;
    border-color: #007BB6;
}
.btn-linkedin:hover {
	opacity:0.8;
    color: #fff;
    background-color: #007BB6;
    border-color: #007BB6;
}
/* Custom colors ends here */

body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: 0px;
}

.learning-mode {
	box-shadow: 0px 1px 0px 0px rgba(36,38,47,0.10), 0px 4px 6px 0px rgba(0,0,0,0.06);
}


.card-img-max {
	max-height:180px;
}

.card-course-description p{
	width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-course {
	box-shadow: 0px 1px 0px 0px rgba(36,38,47,0.10), 0px 4px 6px 0px rgba(0,0,0,0.06);
	border:none;
}

.card-course:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.custom-sidebar-list li {
    list-style-type: none;
}

ul.custom-sidebar-list>li {
    /* font-size: 21px; */
}

.custom-sidebar-list>li {
	padding-left: 3px;
    line-height: 24px;
}

.custom-sidebar-list li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #0064bc;
    margin-bottom: 5px;
    display: inline-block;
}

/* Custom  list starts here*/
.custom-list {
	
}
.custom-list  {
	list-style-type:none;
}

.custom-list  li{
	list-style-position: inside;
	text-indent: -1em;
}

.custom-list  li:before {
	content: "\f00c";
    font-family: FontAwesome;
	font-size:14px;
	margin-right:8px;
}
/* Custom  list ends here*/

/* Custom  modal starts here*/
.modal.custom-show{
    background-color: rgba(255, 255, 255, 10) !important;
}
.modal.fade.fill-in .modal-content-custom {
    display: table-cell;
    vertical-align: top;
    border: 0;
    background: transparent;
}
/* Custom  modal ends here*/

/* Custom  course menu starts here*/
.custom-course-menu-list li {
    list-style-type: none;
}

ul.custom-course-menu-list>li {
    /* font-size: 21px; */
}

.custom-course-menu-list>li {
	padding-left: 3px;
	padding-bottom: 14px;
    line-height: 24px;
}

.custom-course-menu-list>li:before {
	content: "\f105";
    font-family: FontAwesome;
	font-size:14px;
	margin-right:8px;
}

.custom-course-menu-list li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: -0.1px;
    text-align: left;
    color: #646464;
    margin-bottom: 5px;
    display: inline-block;
}

.custom-course-menu-list li a:hover{
    color: #007be8;
}

.custom-course-menu-list h6{
	font-weight:600;
}
/* Custom  course menu ends here*/

/* Custom  nav tabs starts here*/
.custom-nav-tabs>li>a {
    font-weight: 700;
    font-size: 13px;
    min-width: 160px;
    text-transform: capitalize;
    color: #000;
}
/* Custom  nav tabs starts here*/

/* Custom  backgrounds starts here*/
	.bg-img-1 {
		background: url('../../main/img/background/virtiledge-bg-img-1.jpg')no-repeat scroll center top / cover !important;
		position: relative;
		z-index: 0;
	}
	
	.banner-overlay {
    opacity: 0.85;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
	z-index: -1;
}

/* Custom  backgrounds ends here*/

/* Return top starts here*/

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    left: 15px;
}
.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background-color: #4676fa;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/* Return top ends here*/

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.header .header-md-height {
    height: 51px;
}

.header .header-md-height-main {
    height: 60px;
}

.custom-main-menu  li a {
	font-size:15px;
	color: #333333;
	font-weight:500;
}

.popular-courses li a{
	color:#ffffff;
	font-weight:500;
}

.popular-courses li a:after {
	content: '|';
  display: block;
  margin: -25px auto;
  text-indent: -18px;
}

.no-divider:after {
	content: ' ' !important;
  display: none !important;
}

.bg-gradient-1 {
	background: #4ca0d8;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8b53a2, #4ca0d8);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8b53a2, #4ca0d8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.p-15 {
	padding:15px;
}

.course-detail-banner h2{
	color:#ffffff;
}

.course-detail-banner p{
	color:#ffffff;
}

.course-detail-banner h2{
	font-weight:500;
}

.btn-main, .btn-main:focus {
    color: #fff;
    background-color: #8659a7;
    border-color: #8955a4;
}

.btn-main.active,
.btn-main:active,
.btn-main.active:focus,
.btn-main:active:focus,
.btn-main:active:hover,
.show .dropdown-toggle.btn-main {
    background-color: #64038c;
    border-color: #64038c;
    color: #fff;
}