<div class="container">

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content sm-gutter">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Course Detail</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card card-default">
                                                    <div class="card-block">
                                                        <div class="row">
                          <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>Become a Trainer</h2>
                                        </div>
                  </div>
                                                            <div class="col-lg-6 text-center">
                                                                <img src="../assets/main/img/icons/virtiledge-icon-250x250-1.png" class="figure-img img-fluid p-t-10" alt="">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <p>Virtiledge provides several platforms all over the globe for those who have passion for teaching or for those who aspire to become a trainer. If you have certificate on certain subject and are willing to share your knowledge then you are at the right place</p>
                                                                <p>Virtiledge has intuitive method that makes logic to both Trainers and Students. Through our company you can become an Online Trainer or an Offline Trainer. You can also share your Elearning content with us in your subject of expertise and get paid.</p>

                                                                <h5 class="m-t-40"><span class="semi-bold">Prerequisites</span></h5>
                                                                <p>You need to have an expertise certificate on certain field/subject and that should be supported by Virtiledge. To know what the fields/subjects that are supported by Virtiledge please visit our <a href="#">Course Category</a>.</p>
                                                                <p>Similar rule apply if you want to submit your E-learning content. Once you submit the content our Virtiledge experts will validate it before posting it in our website.</p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="card card-default">
                                                    <div class="card-block">
                                                        <div class="row">
                          <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>Become Our Instructor</h2>
                    <p>Virtiledge empanels skilled and qualified instructors to partner with us to provide our training programs worldwide. We worth our instructors and trust in robust long-term partnerships. Come join our awesome panel of instructors!
                                                                </p>
                                        </div>
                  </div>
                                                            <div class="col-lg-4 mx-auto">
                                                                <form id="form-register" class="p-t-15" role="form" action="#">
                                                                    <div class="form-group form-group-default required">
                                                                        <label>Full Name</label>
                                                                        <div class="controls">
                                                                            <input type="text" name="username" placeholder="Enter fullname" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required">
                                                                        <label>Email</label>
                                                                        <div class="controls">
                                                                            <input type="text" name="email" placeholder="Enter email" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required">
                                                                        <label>Contact Number</label>
                                                                        <div class="controls">
                                                                            <input type="text" name="username" placeholder="Enter contact number" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required">
                                                                        <label>Area Of Expertise</label>
                                                                        <div class="controls">
                                                                            <input type="text" name="username" placeholder="Enter area of expertise" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required">
                                                                        <label>Linkedin Link</label>
                                                                        <div class="controls">
                                                                            <input type="text" name="username" placeholder="Enter linkedin link" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required">
                                                                        <label>Country</label>
                                                                        <div class="controls">
                                                                            <input type="text" class="form-control required" name="Enter country" placeholder="Select course" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required">
                                                                        <label>City</label>
                                                                        <div class="controls">
                                                                            <input type="text" name="username" placeholder="Enter city" class="form-control" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group form-group-default required typehead" id="sample-three">
                                                                        <label>Message</label>
                                                                        <textarea class="form-control" cols="12" rows="4"></textarea>
                                                                        <input class="typeahead form-control sample-typehead" name="country" type="text" placeholder="your message" required>
                                                                    </div>
                                                                    <div class="form-group m-t-20 m-b-20 required">
                                                                        <div class="checkbox check-success">
                                                                            <input type="checkbox" value="1" id="checkbox1">
                                                                            <label for="checkbox1">I agree to be contacted over email and phone</label>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn btn-primary btn-cons btn-block btn-lg m-t-10" type="submit">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                      <div class="card card-transparent customer-help">
                                                    <div class="card-block text-center p-0">
                        <div class="row">
                        <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>How can virtiledge help you?</h2>
                                        </div>
                  </div>
                  <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Call Us</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">View Courses</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Request Callback</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
