<!-- Footer Section Starts Here -->
<footer>
    <div class="footer">
        <div class="container container-fixed-lg">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list">
                        <li>
                            <h6>Company</h6></li>
                        <li><a routerLink="about-us">About Us</a></li>
					            	<li><a routerLink="contact-us">Help and Support</a></li>
                        <li><a routerLink="faqs">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list">
                        <li>
                            <h6>For Business</h6></li>
                        <li><a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#corporate">Corporate Training</a></li>
                        <li><a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">Request a Quote</a></li>
                    </ul>
                    <!--<ul class="list-group custom-footer-list m-t-10">
						<li><h6>More Links</h6></li>
						<li><a href="javascript:;">How do we work</a></li>
						<li><a href="javascript:;">Corporate Business</a></li>
						<li><a href="javascript:;">Courses</a></li>
						<li><a href="javascript:;">Events</a></li>
					</ul>-->
                </div>
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list">
                        <li>
                            <h6>Legal</h6></li>
                            <li><a routerLink="terms-and-conditions">Terms and Conditions</a></li>
                            <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                            <li><a routerLink="reschedule-policy">Reschedule Policy</a></li>
                            <li><a routerLink="refund-policy">Refund Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list">
                        <li><h6>More Links</h6></li>
                        <li><a routerLink="about-us">How do we work</a></li>
                        <li><a routerLink="corporate-training">Corporate Solutions</a></li>
                            <li><a routerLink="become-trainer">Become a Trainer</a></li>
                            <li><a routerLink="course-events">Events</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list">
                        <li>
                            <h6>Call Us</h6></li>
                        <li><a href="javascript:;" class="semi-bold"><span class="flag-icon flag-icon-in m-r-5"></span>+91 9535462496</a></li>
                        <li><a href="javascript:;" class="semi-bold"><span class="flag-icon flag-icon-us m-r-5"></span>+1 1234567890</a></li>
                        <li><a href="javascript:;" class="semi-bold"><span class="flag-icon flag-icon-au m-r-5"></span>+61 1234567890</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list">
                        <li>
                            <h6>Support</h6></li>
                        <li><a href="mailto:info@virtiledge.com" class="semi-bold"><i class="fa fa-envelope"></i> info@virtiledge.com</a>
                        </li>
                        <li><a href="mailto:support@virtiledge.com" class="semi-bold"><i class="fa fa-envelope"></i> support@virtiledge.com</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list m-t-10">
                        <li>
                            <h6>Connect With Us</h6></li>
                        <li>
                            <div class="btn-group sm-m-t-30">
                                <a class="btn btn-default" href="https://www.facebook.com/virtiledge1" target="_blank"><i class="fa fa-facebook color-facebook"></i>
							</a>
                                <a class="btn btn-default" href="https://plus.google.com/116320974997817457500" target="_blank"><i class="fa fa-google-plus color-google-plus"></i>
							</a>
                                <a class="btn btn-default" href="https://twitter.com/virtiledge" target="_blank"><i class="fa fa-twitter color-twitter"></i>
							</a>
                                <a class="btn btn-default" href="https://www.linkedin.com/company/virtiledge2" target="_blank"><i class="fa fa-linkedin color-linkedin"></i>
							</a>
                                <a class="btn btn-default" href="https://www.youtube.com/channel/UCqHyv2AAGZSDMoliMnKHxIQ" target="_blank"><i class="fa fa-youtube color-youtube"></i>
							</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group custom-footer-list m-t-10">
                        <li>
                            <h6>Subscribe</h6></li>
                        <li><a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#subscribe" class="btn btn-primary m-t-15 color-white">Get updates <i class="fa fa-envelope-open m-l-5"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
					<hr />
                    <ul class="list-group custom-footer-list">
                        <li>
                            <h6>Disclaimer</h6></li>
                        <li><span class="">"PMI®", "PMBOK®", "PMP®" and "PMI-ACP®" are registered marks of the Project Management Institute, Inc.</span></li>
                        <li><span class="">ITIL is a registered trade mark of AXELOS Limited</span></li>
                        <li><span class="">PRINCE2 is a registered trade mark of AXELOS Limited</span></li>
                    </ul>
                </div>
            </div>
            <div class="copyright sm-text-center">
			<hr />
                <p class="small no-margin pull-left sm-pull-reset">
                    <span>Copyright &copy; 2017 </span>
                    <span class="font-montserrat bold">Virtiledge</span>.
                    <span>All rights reserved. </span>
                </p>
                <!-- <p class="small no-margin pull-right sm-pull-reset"> -->
                <!-- Hand-crafted <span class="hint-text">&amp; made with Love</span> -->
                <!-- </p> -->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section Ends Here -->




<!-- Inquiry Modal Starts Here -->
<div class="modal fade disable-scroll" id="callback" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="pg-close fs-14"></i>
        </button>
        <h5>Request
          <span class="semi-bold">Callback</span>
        </h5>
      </div>
      <div class="modal-body">
        <form id="form-register" class="p-t-15" action="#">
          <div class="form-group form-group-default required">
            <label>Full Name</label>
            <div class="controls">
              <input type="text" name="username" placeholder="Name" [(ngModel)]="request.username" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Email</label>
            <div class="controls">
              <input type="text" name="email" placeholder="Email" [(ngModel)]="request.email" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Contact Number</label>
            <div class="controls">
              <input type="text" name="mobile" placeholder="Mobile number" [(ngModel)]="request.phone" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Course</label>
            <div class="controls">
              <input type="password" class="form-control required" name="password" placeholder="Select course" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Choose Category</label>
            <div class="controls">
              <input type="password" class="form-control required" name="password" placeholder="I am a" required>
            </div>
          </div>
          <div class="form-group form-group-default required typehead" id="sample-three">
            <label>Message</label>
            <textarea class="form-control" cols="12" rows="4" name="message" [(ngModel)]="request.message"></textarea>
          </div>
          <div class="form-group m-t-20 m-b-20 required">
            <div class="checkbox check-success">
              <input type="checkbox" value="1" id="checkbox1" name="agree" [(ngModel)]="request.agree">
              <label for="checkbox1">I agree to be contacted over email and phone</label>
            </div>
          </div>
          <button class="btn btn-primary btn-cons btn-block btn-lg m-t-10" type="button" (click)="postRequestCallback()" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- corporate Modal Starts Here -->
<div class="modal fade disable-scroll" id="corporate" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="pg-close fs-14"></i>
        </button>
        <h5>Corporate
          <span class="semi-bold">Training</span>
        </h5>
      </div>
      <div class="modal-body">
        <form id="form-register" class="p-t-15" action="#">
          <div class="form-group form-group-default required">
            <label>Full Name</label>
            <div class="controls">
              <input type="text" name="username" placeholder="Name" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Email</label>
            <div class="controls">
              <input type="text" name="email" placeholder="Email" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Contact Number</label>
            <div class="controls">
              <input type="text" name="mobile" placeholder="Mobile number" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Course</label>
            <div class="controls">
              <input type="password" class="form-control required" name="password" placeholder="Select course" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Country</label>
            <div class="controls">
              <input type="password" class="form-control required" name="password" placeholder="e.g India" required>
            </div>
          </div>
          <div class="form-group form-group-default required typehead" id="sample-three">
            <label>Message</label>
            <textarea class="form-control" cols="12" rows="4"></textarea>
            <input class="typeahead form-control sample-typehead" name="country" type="text" placeholder="your message" required>
          </div>
          <div class="form-group m-t-20 m-b-20 required">
            <div class="checkbox check-success">
              <input type="checkbox" value="1" id="checkbox1">
              <label for="checkbox1">I agree to be contacted over email and phone</label>
            </div>
          </div>
          <button class="btn btn-primary btn-cons btn-block btn-lg m-t-10" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Subscription Modal Starts Here -->
<div class="modal fade disable-scroll" id="subscribe" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="pg-close fs-14"></i>
        </button>
        <h5>Newsletter
          <span class="semi-bold">Subscription</span>
        </h5>
      </div>
      <div class="modal-body">
        <form id="form-register" class="p-t-15" action="#">
          <div class="form-group form-group-default required">
            <label>Full Name</label>
            <div class="controls">
              <input type="text" name="username" placeholder="Name" class="form-control" required>
            </div>
          </div>
          <div class="form-group form-group-default required">
            <label>Email</label>
            <div class="controls">
              <input type="text" name="email" placeholder="Email" class="form-control" required>
            </div>
          </div>
          <button class="btn btn-primary btn-cons btn-block btn-lg m-t-10" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Call Us Numbers Modal Starts Here -->
<div class="modal fade disable-scroll" id="callus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="pg-close fs-14"></i>
        </button>
        <h5 class="semi-bold">Call Us</h5>
      </div>
      <div class="modal-body text-center">
        <h4 class="semi-bold">
          <span class="flag-icon flag-icon-us m-r-5"></span>USA +1 1234567890</h4>
        <h4 class="semi-bold">
          <span class="flag-icon flag-icon-au m-r-5"></span>AUS +61 1234567890</h4>
        <h4 class="semi-bold">
          <span class="flag-icon flag-icon-in m-r-5"></span>IND +91 1234567890</h4>
      </div>
    </div>
  </div>
</div>