<div class="container">

    <!-- Header Sidenav Includede -->

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content sm-gutter">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Terms and Conditions</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                                                <div data-pages="card" class="card card-default">
                        <div class="card-block">
                          <h5><span class="semi-bold">Terminology</span></h5>
                          <p><strong>“Virtiledge”</strong> - referred to as the ‘Company’, ‘us’ and ‘we’.</p>
						  <p><strong>“User or paying customer”</strong> – referred to as ‘you’, ‘it’, ‘parties’ and ‘subscriber’.</p>
						  
                          <h5><span class="semi-bold">General Email Sign-up Terms and Conditions</span></h5>
                          <p>By submitting via the ‘Sign up’ button, you agree to be bound by the following terms and conditions
							</p>
							<ul class="custom-list lg-icon">
							<li><span>By providing your email address and submitting via the ‘Sign up’ button you consent to receive email communications from <i>Virtiledge</i> including in relation to any special offers, discounts, promotions, products and/or services offered.</span></li>
							<li><span>By providing your email address and submitting via the ‘Sign up’ button you confirm that you are the authorized owner/user of the email address submitted.</span></li>
							<li><span>You agree that your personal information may be shared with our employees, contractors, agents, companies working on our behalf, selected business partners and other related companies IN OUR GROUP, but, except as required by law, information identifying an individual will never be passed on to a third party for their own use. Virtiledge may disclose this information to third parties if it is required to do so by law.</span></li>
							<li><span>You can choose to or not to receive promotional materials at any time by contacting our Customer Care Team. You can also opt out of email communications by following the unsubscribe link in the relevant email.</span></li>
							<li><span>By clicking ‘Sign up’ button, you approve to the collection, storage, use and disclosure of your personal information in accordance with our Privacy Policy and these Terms. You can find our Privacy Policy online here.</span></li>
							<li><span>You have the right to access and correct the personal information, and our Customer Care Team can help you to do so.</span></li>
							</ul>
							
							<h5><span class="semi-bold">Intellectual Property</span></h5>
							<p>You agree on behalf of yourself and Authorized End Users (in the case of Multi-User Subscriptions) that:</p>
							<ul class="custom-list lg-icon">
							<li><span>Access rights will not be transferred to any third-parties.</span></li>
<li><span>You will not access, store, distribute or transmit any Viruses.</span></li>
<li><span>You will obey with all applicable laws and regulations with respect to use of the Services;</span></li>
<li><span>You will not rent, lease, sublicense, re-sell, distribute, transfer, copy or modify the Services or any component thereof.</span></li>
<li><span>You will not translate, decompile, or create or attempt to create, by reverse engineering or otherwise, the source code from the object code made available hereunder.</span></li>
<li><span>You will not replicate, distribute, change, create derivative works of, publicly display, publicly perform, republish, download, store or transmit the Services, Products or any portion thereof.</span></li>
<li><span>You will not delete or alter any copyright, trademark or other proprietary rights notices from copies of materials from the Website or contained in the Services.</span></li>
<li><span>You are solely responsible for acquiring, installing, operating and maintaining the hardware and software environment, network connections, and telecommunication links, necessary to access and use the Services.</span></li>
<li><span>You will not use the Services in any method, or in connection with any content, data, hardware, software or other materials that infringes upon or violates any patent, copyright, trade secret, trademark, or other intellectual property right of any third party, or that creates a defamation, libel, invasion of privacy, or violation of any right of publicity or other third party right, or that is threatening, harassing or malicious.</span></li>
</ul>

<h5><span class="semi-bold">Transaction</span></h5>
<p>You agree to the following terms of transaction, if you are going to make a transaction on the Virtiledge website
</p>
<ul class="custom-list lg-icon">
<li><span>You have gone through the details of the transaction, because your total price may include taxes, fees and other costs (if applicable), all of which you are responsible for paying.</span></li>
<li><span>There are certain products which require additional terms and conditions which you have to agree before you make the purchase.</span></li>
<li><span>VIRTILEDGE RESERVES THE RIGHT TO MODIFY, CHANGE WITHOUT PRIOR NOTICE AND IN ITS SOLE DISCRETION, TO LIMIT THE ORDER QUANTITY ON ANY ITEM AND TO REFUSE SERVICE TO ANYONE.</span></li>
<li><span>No additional or different terms contained in any purchase order, document, transmission or other communication shall be binding upon Virtiledge unless agreed to by Virtiledge in writing.</span></li>

</ul>
<p><strong>Note:</strong> Virtiledge reserves the right to make adjustments for all the prices, products and offers. Nevertheless the price you paid at the time of purchase still holds for you. Information contained on Virtiledge may be changed at any time without prior notification or obligation.</p>
						<h5><span class="semi-bold">Content</span></h5>
						<p>Virtiledge provides its content in the form of written, video, audio and many other system readable formats only for the purpose of education and guidance. Once you get registered with us you will get access to the respective course, its practice tests and documents.
</p>
<p>Virtiledge reserves the right to update or change the content offered to you without notice. If the content been revised or updated, then you may need to pay additional fees to access it.
</p>
<h5><span class="semi-bold">Governing Law and Jurisdiction</span></h5>
<p>This Agreement is governed by and shall be construed in accordance with the laws of India. The parties submit all their disputes arising out of or in connection with this Agreement to the exclusive jurisdiction of the Courts of Bengaluru, India.</p>
						<h5><span class="semi-bold">Claims of Copyright Infringement</span></h5>
						<p>Virtiledge respects the rights and intellectual property of others. If you believe that your product or other work has been misrepresented or used in a way that constitutes copyright infringement, or your intellectual property rights have been otherwise violated, please provide Virtiledge Private Limited following details:</p>
						
						<ul class="custom-list lg-icon">
<li><span>A statement made by you, that you are the product, work, copyright or intellectual property owner or authorized to act on such owner’s behalf.</span></li>
<li><span>An explanation of the product, work or other intellectual property that you claim has been misrepresented or infringed.</span></li>
<li><span>An explanation of where the material that you claim is misrepresenting or infringing your product, work or other intellectual property is located on the Online Courses.</span></li>
<li><span>Your address, telephone number, and email address.</span></li>
</ul>

<p>Above details can be submitted to info@virtiledge.com (Please mention the subject of the mail as “Copyright Violation”).</p>

<h5><span class="semi-bold">Cookies</span></h5>
<p>This Cookie Policy describes how Virtiledge uses cookies and similar technologies to provide, improve, promote and protect the Services. Note that any capitalized terms not defined in this Cookie Policy have the meanings set forth in our other Terms and Condition. In case if you have any remarks or questions about this Cookie Policy, contact us at info@virtiledge.com.</p>

<ul class="custom-list lg-icon">
<li><span>Cookies help us verify your Account and device and determine when you’re logged in, so we can make it easier for you to access the Services and provide the appropriate experiences and features. We also use cookies to help prevent fraudulent use of login credentials.</span></li>  
<li><span>Cookies help us analyze how the Services are being accessed and used, and enable us to track performance of the Services. We use cookies to help us determine and recognize repeat visitors, the type of content and sites to which a user of our Website links, the length of time each user spends at any particular area of our Website, and the specific functionalities that users choose to use.</span></li>
<li><span>Shopping cart uses cookies. But they never store Credit card and Debit card information as transaction is done using Payment Gateways.</span></li>
</ul>
<p><strong>Note:</strong> You can reject our cookies through your browser settings however many functions and conveniences of this Website may not work properly.
</p>
<h5><span class="semi-bold">Limit of Liability</span></h5>
<p>YOU AGREE THAT UNDER  NO CIRCUMSTANCES SHALL VIRTILEDGE BE LIABLE TO THE USER OR ANY THIRD PARTY WITH RESPECT TO ANY SUBJECT MATTER OF THESE TERMS OF USE UNDER ANY CONTRACT, NEGLIGENCE, STRICT LIABILITY OR OTHER THEORY FOR ANY INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OR LOST PROFITS, LOSS OR INACCURACY OF DATA OR DOCUMENTS OR COST OF PROCUREMENT OF SUBSTITUTE PRODUCT, SERVICES OR TECHNOLOGY, BREACH OF SECURITY OR DATA LOSS , EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR WHETHER ANY REMEDY SET FORTH HEREIN FAILS OF ITS ESSENTIAL PURPOSE OR OTHERWISE.
</p>

<h5><span class="semi-bold">Indemnity</span></h5>
<p>You agree to indemnify, defend and hold harmless <i>Virtiledge</i> its subsidiaries and affiliates, and each of their officers, directors, agents, employees, and assignees from any and all claims, liabilities, expenses and damages, including reasonable attorneys’ fees and costs, made by any third party relating to or arising out of
</p>
<ul class="custom-list lg-icon">
<li><span>Your use or attempted use of the Class Sites or Online Courses in violation of these Terms of Use,</span></li>
<li><span>your use or attempted use of any code, program, data, information or any other Content provided on the Class Sites or through the Online Courses in a manner inconsistent with these Terms of Use, </span></li>
<li><span>your use or your violation of any law or rights of any third party, or </span></li>
<li><span>Your information you post or otherwise make available on the Class Sites or through the Online Courses, including without limitation any claim of infringement of intellectual property or other proprietary rights.</span></li>
</ul>
<h5><span class="semi-bold">Pricing Disclaimer</span></h5>
<p>Product prices and its availability are subject to change without notice. All specials and promotions limited to stock on hand. Virtiledge is not responsible for typographical errors and we make every effort to ensure the accuracy of the information published in our catalogs and websites.
</p>

<p>If there is an error and a product is listed at an incorrect price, Virtiledge shall maintain the right to refund or cancel orders placed at the incorrect price. If the order has been confirmed and charged to your credit card, Virtiledge shall immediately issue a credit in the amount of the incorrect price. We reserve the right to limit numbers on promotion products.
</p>
<h5><span class="semi-bold">Amendment</span></h5>
<p>Terms and Conditions can be changed without any prior notice because of extension of our business or company, fluctuating market and various other reasons. We will post the most current version of the Terms and Condition in our website.</p>

						</div>
                      </div>
                      <div class="card card-transparent customer-help">
                                                    <div class="card-block text-center p-0">
                        <div class="row">
                        <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>How can virtiledge help you?</h2>
                                        </div>
                  </div>
                  <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Call Us</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">View Courses</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Request Callback</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>