<div class="container">

    <!-- Header Sidenav Includede -->

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content sm-gutter">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Privacy Policy</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                                                <div data-pages="card" class="card card-default">
                        <div class="card-block">
                          <h5><span class="semi-bold">Privacy Policy</span></h5>
                          <p><i>Virtiledge</i> respects your personal information and is committed to protecting it. Therefore, we have developed this Policy in order for you to understand what personal information we collect and how we make use of this personal information.
							</p>
                          <h5><span class="semi-bold">Registration and Enquire form</span></h5>
                          <p>Virtiledge requires voluntary registration in order to utilize specific features. These forms require you to give us personally identifiable information (PII), which may include contact information like your name and e-mail address. If you so signify beforehand, we may use your contact information from the registration form to send you information and promotional/offer material about our company.
</p>
<p>The information collected from these registration forms is used to improve existing features or develop new features, products and services by analyzing how site features are being used.
</p>
<h5><span class="semi-bold">Privacy when doing Transaction</span></h5>
<p>Virtiledge uses PayPal and CC Avenue as Payment Gateway for making online payments. These Payment Gateway applications use secure protocols. Virtiledge does not hold your Credit card and Debit card information. However, we store your information (Name, E-mail, contact number and address) in our registration and order-entry system. </p>
                        <h5><span class="semi-bold">Cookies</span></h5>
						<p>Virtiledge uses cookies to enhance its service provided to the customer or visitor. To know more about this please read our <a href="javascript:;">Terms and Condition</a>.</p>
						<h5><span class="semi-bold">Copyright</span></h5>
						<p>The Company name, the Company logo, and all related names, logos, product and service names, designs and slogans, are trademarks of the Company or its affiliates or licensors. You may not use such marks without the prior written permission of the Company. All other names, logos, product and service names, designs and slogans on the Website are the trademarks of their respective owners.</p>
						<h5><span class="semi-bold">Amendment</span></h5>
						<p>This Privacy Policy may be changed over time as new features are added to Virtiledge or as Internet security and privacy standards progress. We will post those changes in our website so that you will always know what information we gather and how we might use that information. We recommend that you read this Privacy Policy each time you use Virtiledge.
</p>
						</div>
                      </div>
                      <div class="card card-transparent customer-help">
                                                    <div class="card-block text-center p-0">
                        <div class="row">
                        <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>How can virtiledge help you?</h2>
                                        </div>
                  </div>
                  <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Call Us</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">View Courses</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Request Callback</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>