<div class="container">


        <div class="page-container">

                <div class="page-content-wrapper">
                    <div class="content">
                        <div class="container-fluid p-t-30">
          <div class="row">
              <div class="col-lg-5 mx-auto p-t-30">
            <div class="card card-transparent" style="min-height:540px;">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-default">
                                <div class="card-block">
                                    <div class="login-container bg-white">
<div class="">
    
    <h3 class="text-center p-t-35">Forgot Password?</h3>

<p class="text-center">
We will send you a link to reset your password.</p> 

<p class="text-center p-t-15">
Enter Email Address
</p>
    <form id="form-forgot" class="p-t-15" role="form" action="#">

  
  <div class="form-group form-group-default required">
            <label>Email</label>
            <div class="controls">
                <input type="text" name="username" placeholder="Enter email address" class="form-control" required>
            </div>
        </div>
  
        <button class="btn btn-primary btn-cons btn-block btn-lg semi-bold m-t-10" type="submit">Send Reset Link</button>
  <div class="row p-t-20">
                                                                        <div class="col-md-12 no-padding sm-p-l-10 text-center">
                                                                            <div class="form-group">
                                                                                <a href="login.php" class="small"> Login!</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
    </form>


</div>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>								
                        </div>
                    </div>

                    

                </div>

        </div>

</div>
</div>