<div class="container">

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content sm-gutter">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">FAQs</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                    <div class="col-lg-12">
            <div class="custom-heading text-center">
                                            <h2>FAQs</h2>
                                        </div>
                  </div>
                                                <div class="card-group horizontal" id="accordion" role="tablist" aria-multiselectable="true">
                                                    <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab">
                                                            <h4 class="card-title">
                            <a class="bold" data-toggle="collapse" data-parent="#accordion" href="#faq1" aria-expanded="true" aria-controls="collapseOne">
                            What is the vision of the company?
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq1" class="collapse show" role="tabcard" aria-labelledby="headingOne">
                                                            <div class="card-block">
                                                                <p>Virtiledge believes in providing in-depth knowledge to individuals and professionals in the areas of Project Management, Quality Management, Big Data, Cloud Computing, IT Service &amp; Architecture, Agile &amp; Scrum, Digital Marketing, Data Science and Stock Market courses. Established, with the aim, to be a leading training provider, we collaborate with companies also. Our community offer live online, classroom and e-learning method teaching with 24/7 assistance.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab" id="headingTwo">
                                                            <h4 class="card-title">
                            <a class="collapsed bold" data-toggle="collapse" data-parent="#accordion" href="#faq2" aria-expanded="false" aria-controls="collapseTwo">
                            What are the courses offered by Virtiledge?
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq2" class="collapse" role="tabcard" aria-labelledby="headingTwo">
                                                            <div class="card-block">
                                                                <p>Virtiledge is an industry leader in the field of professional training, and offers a courses in various categories such as project management, agile management, big data and Hadoop, business management, IT, stock Market and more. New courses are added regularly to stay on top of current advancements in the industry.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab" id="headingThree">
                                                            <h4 class="card-title">
                            <a class="collapsed bold" data-toggle="collapse" data-parent="#accordion" href="#faq3" aria-expanded="false" aria-controls="collapseThree">
                            Where is the classroom training held?
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq3" class="collapse" role="tabcard" aria-labelledby="headingThree">
                                                            <div class="card-block">
                                                                <p>The location is determined weeks ahead of the training schedule and you will be kept informed by email. You can also call our support staff or send us an email at support@virtiledge.com. Also you can use our chat option for more comprehensive information.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                        <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab" id="headingThree">
                                                            <h4 class="card-title">
                            <a class="collapsed bold" data-toggle="collapse" data-parent="#accordion" href="#faq4" aria-expanded="false" aria-controls="collapseThree">
                            What is the process to enroll for classroom training?
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq4" class="collapse" role="tabcard" aria-labelledby="headingThree">
                                                            <div class="card-block">
                                                                <p>It is easy to enroll for classroom training online. There are several options to pay either through your debit/credit card that includes Visa Card, MasterCard; or via PayPal. Payment receipt will be issued to the candidate automatically by email.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                        <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab" id="headingThree">
                                                            <h4 class="card-title">
                            <a class="collapsed bold" data-toggle="collapse" data-parent="#accordion" href="#faq5" aria-expanded="false" aria-controls="collapseThree">
                            After enrolment what if I have to change the city, place and date for any of the classroom training courses?
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq5" class="collapse" role="tabcard" aria-labelledby="headingThree">
                                                            <div class="card-block">
                                                                <p>Yes, you can revise the choice of city, place and date for any classroom training, if required. For more details please go through the refund and reschedule policies.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                        <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab" id="headingThree">
                                                            <h4 class="card-title">
                            <a class="collapsed bold" data-toggle="collapse" data-parent="#accordion" href="#faq6" aria-expanded="false" aria-controls="collapseThree">
                            Will I get a course completion certificate?
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq6" class="collapse" role="tabcard" aria-labelledby="headingThree">
                                                            <div class="card-block">
                                                                <p>Yes, we offer a course completion certificate after you successfully complete the training program.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                        <div class="card card-default m-b-0">
                                                        <div class="card-header " role="tab" id="headingThree">
                                                            <h4 class="card-title">
                            <a class="collapsed bold" data-toggle="collapse" data-parent="#accordion" href="#faq7" aria-expanded="false" aria-controls="collapseThree">
                            Tell me about the instructors.
                            </a>
                            </h4>
                                                        </div>
                                                        <div id="faq7" class="collapse" role="tabcard" aria-labelledby="headingThree">
                                                            <div class="card-block">
                                                                <p>Our trainers are certified instructors and highly qualified, having the capability to provide the best training with many years of coaching experience.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                      <div class="card card-transparent customer-help">
                                                    <div class="card-block text-center p-0">
                        <div class="row">
                        <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>How can virtiledge help you?</h2>
                                        </div>
                  </div>
                  <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Call Us</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">View Courses</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Request Callback</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>