<div class="container">

  <!-- Header Sidenav Includede -->

  <div class="page-container">

          <div class="page-content-wrapper">
              <div class="content sm-gutter">
                  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                      <div class="inner">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#">Home</a></li>
                              <li class="breadcrumb-item active">Refund Policy</li>
                          </ol>
                      </div>
                  </div>
                  <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="card card-transparent">
                                  <div class="card-block">
                                      <div class="row">
                                          <div class="col-12 col-lg-12">
                                              <div class="card card-default">
                      <div class="card-block">
                        <h5><span class="semi-bold">Refunds for Live Virtual and Classroom Training Courses</span></h5>
                        <p>All the training course cancellations are needed to be updated to <i>Virtiledge</i> over email to <a href="mailto:support@virtiledge.com"><i>support@virtiledge.com</i></a> and should get acknowledgement, the refunds will be provided as below:</p>
                        <ul class="custom-list lg-icon m-b-40">
                          <li><span>Raising refund request within 72 hours of registration: 100% refund</span></li>
                          <li><span>If you raise a refund request before 7 days of registration you will get 70% refund.</span></li>
                          <li><span>Raising refund request less than 7 days to the workshop: No refund will be applicable.</span></li>
                          <li><span>After booking the training, if participants do not appear for the training: No refund will be applicable.</span></li>
                        </ul>
                        <h5><span class="semi-bold">Refunds for E-Learning Training Courses</span></h5>
                        <ul class="custom-list lg-icon m-b-40">
                        <li><span>Raise refund request within 48 hours of registration and before accessing 30 minutes of training: 90% refund.</span></li>
                        <li><span>After 48 hours of registration and after accessing 30 minutes of training: No refund.</span></li>
                        <li><span>Money back guarantee is void if the participant has downloaded the E-Book.</span></li>
                        </ul>
                        <h5><span class="semi-bold">Please Note</span></h5>
                        <ul class="custom-list lg-icon">
                        <li><span>Refund requests will be processed in 20 business days from the acceptance of email for refund.</span></li>
                        <li><span>All refund and cancellations will acquire bank transactional charges from the refund value.</span></li>
                        <li><span>In case <i>Virtiledge</i> cancels the training session, 100% refund will be refunded to the participant. As an alternative, the delegate can also choose a different session at no additional cost.</span></li>
                        <li><span>No refunds will be made on exam services registration fees.</span></li>
                        <li><span>Participant will be paid back the same mode of payment they used to make the training course payment.</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="card card-transparent customer-help">
                                                  <div class="card-block text-center p-0">
                      <div class="row">
                      <div class="col-lg-12">
          <div class="custom-heading text-center m-b-40">
                                          <h2>How can virtiledge help you?</h2>
                                      </div>
                </div>
                <div class="col-lg-4">
                                          <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                              <div class="card card-default">
                                                  <div class="card-block text-center">
                                                      <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                        <h6><span class="semi-bold">Call Us</span></h6>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <div class="col-lg-4">
                                          <a href="javascript:;">
                                              <div class="card card-default">
                                                  <div class="card-block text-center">
                                                      <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                        <h6><span class="semi-bold">View Courses</span></h6>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <div class="col-lg-4">
                                          <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                              <div class="card card-default">
                                                  <div class="card-block text-center">
                                                      <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                        <h6><span class="semi-bold">Request Callback</span></h6>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
          </div>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>

                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>
