<div class="container">

  <!-- Header Sidenav Includede -->

  <div class="page-container">
    
          <div class="page-content-wrapper">
              <div class="content sm-gutter">
                  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                      <div class="inner">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="#">Home</a></li>
                              <li class="breadcrumb-item active">Reschedule Policy</li>
                          </ol>
                      </div>
                  </div>
                  <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="card card-transparent">
                                  <div class="card-block">
                                      <div class="row">
                                          <div class="col-12 col-lg-12">
                                              <div data-pages="card" class="card card-default">
                      <div class="card-block">
                        <h5><span class="semi-bold">Rescheduling Policy</span></h5>
                        <p>In case <i>Virtiledge</i> reschedules the training program, the preferences available to the participant are:</p>
                        <ul class="custom-list lg-icon">
                          <li><span>100% refund, if the rescheduled training dates do not suit into the participant’s schedule.</span></li>
                          <li><span>The participant would have the privilege of rescheduling and attending the training session in future at his/her convenience, at any location, on any date of a scheduled training.</span></li>
                          <li><span>The participant, if they so wish, can send a replacement. But, this must be intimated to <i>Virtiledge</i> at least 7 days prior to the training program.</span></li>
                        </ul>
                        <p>In case, if for some unexpected reasons, participant wishes to reschedule his/her registration to a future training date, a rescheduling fee is charged as mentioned below:</p>
                        <ul class="custom-list lg-icon m-b-40">
                          <li><span>If the training rescheduling request is received 7 days prior or more, 10% of training registration fee will be charged.</span></li>
                          <li><span>Please note that training rescheduling will be subject to availability of seats.</span></li>
                          <li><span>If the training rescheduling request is received within 7 days or less, no training rescheduling will be acceptable. Though, the participant can send a replacement instead.</span></li>
                        </ul>
                        <h5><span class="semi-bold">Please note</span></h5>
                        <ul class="custom-list lg-icon">
                        <li><span><i>Virtiledge</i> reserves the right to substitute previously assigned trainer with other qualified trainer, if thought needed.</span></li>
                        <li><span><i>Virtiledge</i> also reserves the right to reschedule or cancel the training session in case of inadequate registrations, or if the trainer cannot join due to unexpected circumstances. You are therefore recommended to consult a <i>Virtiledge</i> consultant prior to making any travel preparations for a training session.</span></li>
                        <li><span>In case of a training session cancellation, you will be informed prior to the start date and will be offered full credit to a future training session or a complete refund, promptly.</span></li>
                        <li><span>If any participant is not satisfied with the training session, he/she needs to notify <i>Virtiledge</i> within 24 hours of the first training session. <i>Virtiledge</i> will deliver a different training session at no additional cost. Participants should communicate the same to us via email to <a href="mailto:support@virtiledge.com"><i>support@virtiledge.com</i></a></span></li>
                        <li><span>Please note that training rescheduling will be done only once and is subject to availability of seats.</span></li>
                        </ul>
                      </div>
                    </div>
                    <div class="card card-transparent customer-help">
                                                  <div class="card-block text-center p-0">
                      <div class="row">
                      <div class="col-lg-12">
          <div class="custom-heading text-center m-b-40">
                                          <h2>How can virtiledge help you?</h2>
                                      </div>
                </div>
                <div class="col-lg-4">
                                          <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                              <div class="card card-default">
                                                  <div class="card-block text-center">
                                                      <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                        <h6><span class="semi-bold">Call Us</span></h6>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <div class="col-lg-4">
                                          <a href="javascript:;">
                                              <div class="card card-default">
                                                  <div class="card-block text-center">
                                                      <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                        <h6><span class="semi-bold">View Courses</span></h6>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
                                      <div class="col-lg-4">
                                          <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                              <div class="card card-default">
                                                  <div class="card-block text-center">
                                                      <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                        <h6><span class="semi-bold">Request Callback</span></h6>
                                                  </div>
                                              </div>
                                          </a>
                                      </div>
          </div>
                                                      
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
              
                              </div>

                          </div>

                      </div>
                  </div>
              </div>
          </div>
  </div>
</div>