<div class="page-content-wrapper">
    <div class="content">
        <div class="container-fluid p-t-30">
            <div class="row">
                <div class="col-lg-5 mx-auto p-t-30">
                    <div class="card card-transparent" style="min-height:540px;">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card card-default">
                                        <div class="card-block">
                                            <div class="login-container bg-white">
                                                <div class="">
                                                    <h3 class="p-t-35 text-center">Login to Vertiledge</h3>
                                                    <p class="text-center">
                                                        Easily Sign in with</p>
                                                    <div class="text-center">
                                                        <button type="button" class="btn btn-default btn-facebook btn-sm">
                                                            <i class="fa fa-facebook fa-fw"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-google-plus btn-sm">
                                                            <i class="fa fa-google fa-fw"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-linkedin btn-sm">
                                                            <i class="fa fa-linkedin fa-fw"></i>
                                                        </button>
                                                    </div>

                                                    <p class="text-center p-t-15">
                                                        Or using email
                                                    </p>
                                                    <form id="form-login" class="p-t-15" role="form" action="#">

                                                        <div class="form-group form-group-default required">
                                                            <label>Login</label>
                                                            <div class="controls">
                                                                <input type="text" name="email" placeholder="User Name" class="form-control required" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group form-group-default required">
                                                            <label>Password</label>
                                                            <div class="controls">
                                                                <input type="password" class="form-control" name="password" placeholder="Credentials" required>
                                                            </div>
                                                        </div>

                                                        <button class="btn btn-primary btn-cons btn-block btn-lg  m-t-10" type="submit">Log in</button>
                                                        <div class="row p-t-20">
                                                            <div class="col-md-6 no-padding sm-p-l-10">
                                                                <div class="form-group">
                                                                    <a href="forgot.php" class="small">Forgot Password?</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 d-flex align-items-center justify-content-end">
                                                                <div class="form-group">
                                                                    <a href="register.php" class="small m-l-5">New? Create Account</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>