<div class="container">

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12 p-t-30">
                                <div class="card card-transparent" style="min-height:540px;">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="error-container text-center">
                                                    <h1 class="error-number">404</h1>
                                                    <h2 class="semi-bold">Sorry but we couldnt find this page</h2>
                                                    <p class="p-b-10">This page you are looking for does not exsist <a href="index.php">Goto home<i class="fa fa-angle-double-right m-l-5"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

    </div>
</div>