<div class="container">

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content sm-gutter">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Course Detail</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="card card-default">
                                                    <div class="card-block">
                        <div class="custom-heading">
                          <h5 class="semi-bold">My Courses</h5>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-strip">
                            <tbody>
                            <tr>
                              <th>Certified Scrum Product Owner (CSPO)</th>
                              <td rowspan="2" class="text-right">Rs. 2,099</td>
                            </tr>
                            <tr>
                              <td>Course Type: <span class="semi-bold">Online</span> Course Duration: <span class="semi-bold">6 Weeks</span></td>
                            </tr>
                            </tbody>
                          </table>
                          </div>
                                                        <div class="alert alert-success m-t-45">
                              <button class="close" data-dismiss="alert"></button>
                              <strong>Success: </strong>Course successfully registered!
                              </div>
                               <div class="alert alert-danger m-t-45">
                              <button class="close" data-dismiss="alert"></button>
                              <strong>Oops: </strong>Something went wrong!
                              </div>
                                                    </div>
                                                </div>
                      
                                            </div>
                    <div class="col-lg-4">
                                                <div class="card card-default">
                                                    <div class="card-block">
                        <div class="custom-heading">
                                            <h6 class="semi-bold">Fee Details</h6>
                                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                            <tr>
                              <th>Fee</th>
                              <td class="text-right">Rs. 2,099</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <th>Total Fee</th>
                              <th class="text-right p-r-20">Rs. 2,099</th>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                                                        <a href="javascript:;" class="btn btn-primary btn-lg btn-block m-t-20 semi-bold">Enroll Course</a>
                                                    </div>
                                                </div>
                      
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>