<div class="header">

  <div class="container">
      <div class="header-inner header-md-height">
          <div class="">
              <ul class="hidden-md-down hidden-xl-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-0 p-r-20">
                  <li class="p-r-10 inline">
                      <div class="dropdown">
                          <a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
                              <span class="bubble"></span>
                          </a>

                      </div>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="#" class="header-icon pg pg-link"></a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="#" class="header-icon pg pg-thumbs"></a>
                  </li>
              </ul>
          </div>
          <div class="d-flex align-items-center">
              <ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-r no-style p-l-30 p-r-20">
                <li class="p-r-10 inline">
                    <div class="dropdown dropdown-default">
                        <a href="javascript:;" class="btn btn-link" data-toggle="modal">
                            <i class="fa fa-map-marker fa-fw"></i>
                            India
                        </a>
                    </div>
                </li>  
                <li class="p-r-10 inline">
                      <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback" class="btn btn-default btn-sm">
                          <i class="fa fa-phone fa-fw m-r-5"></i>Request Callback</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a routerLink="login" class="btn btn-default btn-sm">
                          <i class="fa fa-lock fa-fw m-r-5"></i>Login</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a routerLink="register" class="btn btn-primary btn-sm color-white">
                          <i class="fa fa-user fa-fw m-r-5"></i>Signup</a>
                  </li>
                  <!--<li class="p-r-5 inline">
          <a href="register.php" class=""><i class="fa fa-shopping-cart fa-fw"></i></a>
        </li>-->
              </ul>
              <div class="dropdown">
                  <a routerLink="enroll" class="header-icon pg pg-shopping_cart btn-link m-l-10 sm-no-margin d-inline-block">
                      <span class="badge badge-Warning">0</span>
                  </a>
              </div>
          </div>
      </div>
      <div class="header-inner header-md-height-main">

          <a href="#" data-target="#modalFillIn" data-toggle="modal" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
          </a>

          <div class="">
              <div class="brand inline">
                  <a routerLink="/">
                      <img src="../assets/main/img/logo.png" alt="logo" class="img-fluid" data-src="../assets/main/img/logo.png" data-src-retina="../assets/main/img/logo.png"
                          width="180">
                  </a>
              </div>
          </div>
          <div class="d-flex align-items-center">
              <ul class="hidden-md-down notification-list no-margin hidden-sm-down no-style p-l-30 p-r-0 custom-main-menu">
                  <li class="p-r-10 inline">
                      <a href="javascript:;" data-target="#modalFillIn" data-toggle="modal" class="btn btn-default b-0">
                          <i class="fa fa-bars fa-fw m-r-5"></i>Courses</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a routerLink="about-us" class="">How Do We Work</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a routerLink="corporate-training" class="">Coporate Solutions</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a routerLink="become-trainer" class="">Become an Instructor</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
