<div class="header">

  <div class="container">
      <div class="header-inner header-md-height">
          <div class="">
              <ul class="hidden-md-down hidden-xl-down notification-list no-margin hidden-sm-down b-grey b-l b-r no-style p-l-0 p-r-20">
                  <li class="p-r-10 inline">
                      <div class="dropdown">
                          <a href="javascript:;" id="notification-center" class="header-icon pg pg-world" data-toggle="dropdown">
                              <span class="bubble"></span>
                          </a>

                      </div>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="#" class="header-icon pg pg-link"></a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="#" class="header-icon pg pg-thumbs"></a>
                  </li>
              </ul>
          </div>
          <div class="d-flex align-items-center">
              <ul class="hidden-md-down notification-list no-margin hidden-sm-down b-grey b-r no-style p-l-30 p-r-20">
                  <li class="p-r-10 inline">
                      <a href="login.php" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback" class="btn btn-default btn-sm">
                          <i class="fa fa-phone fa-fw m-r-5"></i>Request Callback</a>
                  </li>
                  <li class="p-r-10 inline">
                      <div class="dropdown dropdown-default">
                          <a href="javascript:;" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-map-marker fa-fw m-r-5"></i>
                              Change Region
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Helvetica </a>
                              <a class="dropdown-item" href="#">SegeoUI</a>
                          </div>
                      </div>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="login.php" class="btn btn-default btn-sm">
                          <i class="fa fa-lock fa-fw m-r-5"></i>Login</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="register.php" class="btn btn-primary btn-sm color-white">
                          <i class="fa fa-user fa-fw m-r-5"></i>Signup</a>
                  </li>
                  <!--<li class="p-r-5 inline">
          <a href="register.php" class=""><i class="fa fa-shopping-cart fa-fw"></i></a>
        </li>-->
              </ul>
              <div class="dropdown">
                  <a href="#" class="header-icon pg pg-shopping_cart btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="dropdown">
                      <span class="badge badge-Warning">0</span>
                  </a>
                  <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                      <div class="notification-panel">
                          <div class="scroll-wrapper notification-body scrollable" style="position: relative;">
                              <div class="notification-body scrollable scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 350px;">

                                  <div class="notification-item  clearfix">
                                      <div class="heading">
                                          <a href="#" class="text-center">
                                              <i class="fa fa-exclamation-triangle m-r-10"></i>
                                              <span class="bold">Your cart is empty</span>
                                          </a>
                                      </div>
                                  </div>

                              </div>
                              <div class="scroll-element scroll-x scroll-scrolly_visible">
                                  <div class="scroll-element_outer">
                                      <div class="scroll-element_size"></div>
                                      <div class="scroll-element_track"></div>
                                      <div class="scroll-bar" style="width: 89px;"></div>
                                  </div>
                              </div>
                              <div class="scroll-element scroll-y scroll-scrolly_visible">
                                  <div class="scroll-element_outer">
                                      <div class="scroll-element_size"></div>
                                      <div class="scroll-element_track"></div>
                                      <div class="scroll-bar" style="height: 341px; top: 0px;"></div>
                                  </div>
                              </div>
                          </div>

                          <div class="notification-footer text-center">
                              <a href="#" class="">View Cart</a>
                          </div>

                      </div>

                  </div>
              </div>
          </div>
      </div>
      <div class="header-inner header-md-height-main">

          <a href="#" data-target="#modalFillIn" data-toggle="modal" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu" data-toggle="sidebar">
          </a>

          <div class="">
              <div class="brand inline">
                  <a href="index.php">
                      <img src="../assets/main/img/logo.png" alt="logo" class="img-fluid" data-src="../assets/main/img/logo.png" data-src-retina="../assets/main/img/logo.png"
                          width="180">
                  </a>
              </div>
          </div>
          <div class="d-flex align-items-center">
              <ul class="hidden-md-down notification-list no-margin hidden-sm-down no-style p-l-30 p-r-0 custom-main-menu">
                  <li class="p-r-10 inline">
                      <a href="javascript:;" data-target="#modalFillIn" data-toggle="modal" class="btn btn-default b-0">
                          <i class="fa fa-bars fa-fw m-r-5"></i>Courses</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="javascript:;" class="">How Do We Work</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="login.php" class="">Coporate Solutions</a>
                  </li>
                  <li class="p-r-10 inline">
                      <a href="register.php" class="">Become an Instructor</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>
