<div class="container">

    <!-- Header Sidenav Includede -->

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content sm-gutter">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">About Us</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid p-l-5 p-r-5 p-t-0 p-b-25 sm-padding-10">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                                                <div data-pages="card" class="card card-default">
                        <div class="card-block">
                          <div class="alert alert-primary" role="alert">
                              <h5><span class="semi-bold"><i>Virtiledge's</i> Mission</span></h5>
                          <p><i>"Virtiledge's</i> mission is to deliver quality and affordable training and development designed to meet the unique requirements of professionals and corporates across the globe”.<p>
                            </div>
                          <h5><span class="semi-bold">Overview</span></h5>
                          <p><i>Virtiledge</i> is one of the world’s leading training providers, we help professionals across all industries and sectors to achieve their career goals, improve new skill and link their skill gap for recognition and progress in the global corporate world. Developed with the aim of delivering high-value training through advanced and practical methodologies, Virtiledge offers an extensive range of services in training, learning and development in the fields of management and technology.</p>
                          <p>The founders of <i>Virtiledge</i> are passionate young entrepreneurs, who were driven by the need to fill a role in the Training industry for professionals and they are supported in their goal by industry experts and leaders who conduct the workshops.</p>
                          
                          
                          
                          <h5><span class="semi-bold">What We Offer?</span></h5>
                          <p><i>Virtiledge</i> provides high-quality global certification and training solutions, and offers recognized educational support and training for on-demand courses such as PMP®, PRINCE2®, CAPM®, PgMP, Microsoft Projects, Six Sigma, Big Data  Hadoop, Cloud Computing, Data Science, ITIL®, CSM, CSPO, PMI-ACP®, PSM, PSPO, Digital Marketing, Share Market Training and many more.</p>
                          <p><i>Virtiledge's</i> courseware in the fields of Information Technology, Management, Sales, Operations, Marketing, and Consulting is targeted at delivering measurable progress in business performances and productivity. Professionals who have finished our training are well-found with up-to-date knowledge and technical skills that allow them to stay at the top of their careers.</p>
                          
                          <h5><span class="semi-bold">How We Do It?</span></h5>
                          <p><i>Virtiledge's</i> training courses are delivered over various modes</p>
                          <ul class="custom-list lg-icon">
                          <li><span>Classroom Training</span></li>
                          <li><span>Live Virtual Classrooms (LVC)</span></li>
                          <li><span>E-Learning (Self-Practiced)</span></li>
                          </ul>
                          <p>By delivering our training skills multiple times, hundreds of fulfilled professionals and organizations have discovered new ways to reinforce and run their businesses. We even provide custom-created training that can be delivered at your locations.</p>
                          <p><i>Virtiledge</i> works with the Global Blended Approach, an effective method that makes training and learning easier for professionals and organizations in the industry. This methodology works through a mixture of extensive online training with traditional classroom-based learning. Aspirants of Virtiledge training courses have constantly completed positive training results, with a smaller learning arc and significantly higher retaining of the subject matter. </p>
                        </div>
                      </div>
                      <div class="card card-transparent customer-help">
                                                    <div class="card-block text-center p-0">
                        <div class="row">
                        <div class="col-lg-12">
            <div class="custom-heading text-center m-b-40">
                                            <h2>How can virtiledge help you?</h2>
                                        </div>
                  </div>
                  <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callus">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-5.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Call Us</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-6.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">View Courses</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-4">
                                            <a href="javascript:;" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#callback">
                                                <div class="card card-default">
                                                    <div class="card-block text-center">
                                                        <img src="../assets/main/img/icons/virtiledge-icon-60x60-4.png" class="figure-img img-fluid rounded p-t-10" alt="">
                          <h6><span class="semi-bold">Request Callback</span></h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
            </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
