<div class="container">

    <div class="page-container">

            <div class="page-content-wrapper">
                <div class="content">
                    <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
                        <div class="inner">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Verify</li>
                            </ol>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-8 mx-auto p-t-30">
                                <div class="card card-transparent" style="min-height:580px;">
                                    <div class="card-block">
                                        <div class="alert alert-info" role="alert">
                                            <a href="login.php" class="close"></a>
                    <h1>Congratulations!</h1>
                    <p>Your have successfully verfied your email</p>
                    <div class="p-t-10">
                      <a href="login.php">Click here to login<i class="fa fa-angle-double-right m-l-5"></i></a>
                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

    </div>
</div>